<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <%- include('bootstrap') -%>
</head>

<body>
    
    <%- include('header'); -%>

    <!-- ABOUT US -->

    <center class="mt-5"><h3>ABOUT US</h3></center>
    <center><div class="divider"></div></center>
    <div class="container mt-5" id="about">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 pt-8">
                <img src="./img/b1.png" alt="">
                <p class="font">Quality Products</p>
                <p class="text-muted">Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
            </div>
            <div class="col-lg-6 col-md-6  col-sm-12 pt-8">
                <img src="./img/b2.png" alt="">
                <p class="font">Perfect Service</p>
                <p class="text-muted">Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
            </div>
            <div class="col-lg-6 col-md-6  col-sm-12 pt-8">
                <img src="./img/b3.png" alt="">
                <p class="font">100% Natural</p>
                <p class="text-muted">Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 pt-8">
                <img src="./img/b4.png" alt="">
                <p class="font">Environmental Freidly</p>
                <p class="text-muted">Intiam eu sagittis est, at commodo lacini libero. Praesent dignissim sed odio vel aliquam manta lagorn.</p>
            </div>
        </div>
    </div>
    <!-- END ABOUT US -->


    <%- include('footer') -%>
    <%- include('bootstrapLink') -%>
</body>

</html>